@charset "UTF-8";
#page {
  padding: 25px 0 0; }

h1.bnone {
  border: none !important;
  margin: 0 0 1.5em !important;
  padding-bottom: 0.5em !important; }

#wrap-wide2 {
  width: 910px;
  margin: 120px auto 0; }

#wrap-wide {
  padding: 0 0 0 0; }

#wrapInner {
  /**float: left;**/ }

.a-center {
  display: block;
  margin: 0 auto 2em; }

#tcd {
  /*-----client-----*/
  /*-----LOCATION-----*/
  /*-----recruit-----*/ }
  #tcd .staff_ttl {
    width: 12em;
    float: left; }
  #tcd a.link_green {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    margin-top: 0.5em;
    padding: 0.75em 0.0em;
    text-align: center;
    background-color: #37ab86;
    border-radius: 3px; }
  #tcd a.link_green:link,
  #tcd a.link_green:visited {
    color: #fff; }
  #tcd a.link_green:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: “alpha(opacity=80) ”; }
  #tcd a.link_staff {
    float: right;
    display: block;
    width: 14em;
    text-align: right;
    color: #fff;
    padding: 0.25em 0.0em;
    text-align: center;
    background-color: #37ab86;
    border-radius: 3px; }
  #tcd a.link_staff:link,
  #tcd a.link_staff:visited {
    color: #fff; }
  #tcd a.link_staff:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: “alpha(opacity=80) ”; }
  #tcd a.link_b {
    line-height: 2em;
    padding-left: 1.25em;
    text-decoration: underline;
    background: url(/img_site/mother/common/icon_arrow_gray.png) no-repeat left 4px; }
  #tcd a.link_b:hover {
    text-decoration: none; }
  #tcd .profile dl dt {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.8em;
    width: 160px;
    float: left;
    clear: both;
    font-weight: bold;
    padding: 15px 0 0;
    margin: 0 0 15px;
    border-top: 1px solid #ddd; }
  #tcd .profile dl dd {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.8em;
    width: 530px;
    float: left;
    padding: 15px 0 0;
    margin: 0 0 15px;
    border-top: 1px solid #ddd; }
    #tcd .profile dl dd ul {
      margin: 0.5em 0 0; }
      #tcd .profile dl dd ul li {
        width: 530px;
        border-top: 1px dotted #ddd;
        padding: 0.5em 0 0; }
  #tcd .profile dl dl.place {
    margin-bottom: 1em; }
  #tcd .profile dl dl.place dt {
    font-weight: normal;
    width: 325px;
    float: left;
    margin: 0;
    padding: 0;
    border-top: none;
    line-height: 1.65em; }
  #tcd .profile dl dl.place dd {
    width: 180px;
    float: right;
    margin: 0;
    padding: 0;
    border-top: none; }
    #tcd .profile dl dl.place dd img {
      width: 100%; }
  #tcd .profile dl dl.ginza {
    margin-bottom: 0em !important; }
    #tcd .profile dl dl.ginza dd {
      margin-top: 0.5em; }
  #tcd .profile dl .credentialsBtn {
    width: 235px;
    height: 65px;
    z-index: 3;
    overflow: hidden;
    display: block;
    position: absolute;
    top: -20px;
    left: 440px; }
  #tcd .profile dl a.credentialsBtn:hover img {
    margin: -65px 0 0; }
  #tcd .profile-en {
    color: #000; }
    #tcd .profile-en dl dt {
      font-size: 16px;
      font-size: 1.6rem;
      line-height: 1.75em;
      width: 180px;
      float: left;
      clear: both;
      font-weight: bold;
      padding: 15px 0 0;
      margin: 0 0 15px;
      border-top: 1px solid #ddd; }
    #tcd .profile-en dl dd {
      font-size: 16px;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2em;
      width: 510px;
      float: left;
      padding: 15px 0 0;
      margin: 0 0 15px;
      border-top: 1px solid #ddd; }
      #tcd .profile-en dl dd ul li {
        padding: 0 0 0.5em;
        line-height: 1.5em; }
      #tcd .profile-en dl dd ol {
        margin: 0;
        padding: 0;
        list-style: decimal;
        list-style-position: outside;
        margin-left: 1.5em; }
      #tcd .profile-en dl dd .academic {
        padding-left: 0em; }
    #tcd .profile-en dl dl.history dt {
      font-weight: normal;
      width: 50px;
      float: left;
      margin: 0;
      padding: 0;
      border-top: none; }
    #tcd .profile-en dl dl.history dd {
      width: 450px;
      float: left;
      margin: 0;
      padding: 0;
      border-top: none; }
    #tcd .profile-en dl dl.place dt {
      font-weight: normal;
      width: 170px;
      float: left;
      margin: 0;
      padding: 0;
      border-top: none; }
    #tcd .profile-en dl dl.place dd {
      width: 340px;
      float: right;
      margin: 0;
      padding: 0;
      border-top: none; }
    #tcd .profile-en dl .credentialsBtn {
      width: 235px;
      height: 65px;
      z-index: 3;
      overflow: hidden;
      display: block;
      position: absolute;
      top: -20px;
      left: 440px; }
    #tcd .profile-en dl a.credentialsBtn:hover img {
      margin: -65px 0 0; }
  #tcd .exp {
    position: relative; }
    #tcd .exp .expList {
      width: 100%;
      padding: 25px 0 15px;
      border-top: 1px solid #eee; }
      #tcd .exp .expList div {
        width: 220px;
        float: left; }
        #tcd .exp .expList div strong {
          display: block;
          font-weight: bold;
          font-size: 0.9em;
          margin: 0 0 10px; }
        #tcd .exp .expList div ul li {
          width: 100%;
          font-size: 1.4rem;
          line-height: 1.4em;
          padding: 0 0 0.75em 0; }
      #tcd .exp .expList div:first-child {
        width: 270px; }
      #tcd .exp .expList div:nth-child(3n) {
        width: 175px;
        float: right; }
    #tcd .exp .bNone {
      padding: 0 0 15px;
      border-top: none; }
    #tcd .exp .btmTxt {
      position: absolute;
      bottom: 0.5em;
      right: 0;
      font-size: 1.4rem;
      line-height: 1.4em; }
  #tcd .client .clientList {
    width: 100%;
    padding: 15px 0 15px;
    border-top: 1px solid #eee; }
    #tcd .client .clientList strong {
      display: block;
      font-weight: bold;
      font-size: 1.3em;
      margin: 0 0 10px; }
    #tcd .client .clientList ul {
      width: 330px;
      float: left; }
      #tcd .client .clientList ul li {
        width: 100%;
        font-size: 1.4rem;
        line-height: 1.4em;
        padding: 0 0 0.75em; }
    #tcd .client .clientList ul.rList {
      float: right; }
  #tcd .client .clientListL {
    width: 340px;
    padding: 0 0 0;
    float: left; }
    #tcd .client .clientListL ul {
      border-bottom: 1px solid #eee;
      padding: 15px 0; }
      #tcd .client .clientListL ul li {
        font-size: 1.5rem;
        line-height: 1.5em;
        padding: 0 0 0.5em; }
  #tcd .client .clientListR {
    width: 45%;
    padding: 0 0 0;
    float: right; }
    #tcd .client .clientListR ul {
      border-bottom: 1px solid #eee;
      padding: 15px 0; }
      #tcd .client .clientListR ul li {
        font-size: 1.3em;
        line-height: 1.5em;
        padding: 0 0 0.5em; }
  #tcd .location dl.locationSet {
    padding: 0 0 35px;
    margin: 0 0 35px;
    border-bottom: 1px solid #eee; }
    #tcd .location dl.locationSet dt {
      float: left;
      width: 50%;
      margin: 0;
      font-weight: normal; }
      #tcd .location dl.locationSet dt img {
        padding-top: 5px; }
      #tcd .location dl.locationSet dt p {
        margin-top: 10px; }
    #tcd .location dl.locationSet dd {
      float: right;
      width: 50%;
      margin: 0; }
      #tcd .location dl.locationSet dd img {
        float: right;
        text-align: right;
        padding-top: 5px; }
  #tcd .recruit {
    margin-bottom: 10em; }
    #tcd .recruit p.sttl {
      line-height: 1em;
      padding-bottom: 0em;
      margin-bottom: 0.75rem !important; }
    #tcd .recruit p {
      line-height: 2em;
      padding-bottom: 2em; }
    #tcd .recruit .recruit-lead {
      position: relative; }
      #tcd .recruit .recruit-lead p {
        position: relative; }
      #tcd .recruit .recruit-lead a.anch {
        display: block;
        position: absolute;
        top: -4.5em;
        right: 0; }
      #tcd .recruit .recruit-lead a.entry {
        display: block;
        position: absolute;
        bottom: 2em;
        right: 0; }
      #tcd .recruit .recruit-lead a.entry:link,
      #tcd .recruit .recruit-lead a.entry:visited {
        display: block;
        background: url(/img_site/common/arrow_blue.png) no-repeat left 0.5em;
        padding-left: 1.25em;
        color: #2b599e; }
      #tcd .recruit .recruit-lead a.entry:hover {
        text-decoration: underline; }
    #tcd .recruit dl.recruit-list dd a:link,
    #tcd .recruit dl.recruit-list dd a:visited {
      display: block;
      background: url(/img_site/common/arrow_blue.png) no-repeat left 0.5em;
      padding-left: 1.25em;
      color: #2b599e; }
    #tcd .recruit dl.recruit-list dd a:hover {
      text-decoration: underline; }
    #tcd .recruit ul.linklist {
      margin: 0;
      padding: 0 0 0.5em; }
      #tcd .recruit ul.linklist li {
        margin: 0;
        padding: 0;
        padding-bottom: 0.5em;
        padding-left: 1em;
        background: url(/img_site/common/arrow_grey.png) no-repeat left 0.5em; }
        #tcd .recruit ul.linklist li a:link,
        #tcd .recruit ul.linklist li a:active,
        #tcd .recruit ul.linklist li a:visited {
          color: #000 !important;
          text-decoration: none !important; }
        #tcd .recruit ul.linklist li a:hover,
        #tcd .recruit ul.linklist li a:visited:hover {
          text-decoration: underline !important; }
      #tcd .recruit ul.linklist li.area {
        padding-top: 0.75em; }

#contentsfull {
  width: 700px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 0 60px; }
  #contentsfull h1 {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0 0 2em;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.75em; }
    #contentsfull h1 em {
      font-size: 1.0rem;
      margin: 0 0 0.75em;
      display: block;
      font-style: normal;
      font-weight: normal; }
  #contentsfull h2 {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: #505050;
    color: #000;
    padding: 0.5em;
    margin: 40px 0 1.0em;
    border: none; }
  #contentsfull h2.bor {
    font-size: 1.6em;
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
    background-color: transparent;
    color: #000;
    padding: 0.5em;
    margin: 20px 0 1.0em; }

.serviceSet {
  width: 100%; }
  .serviceSet h1 {
    float: left;
    width: 20%;
    margin: 0 0 0 !important; }
  .serviceSet dl.bNon {
    border-top: none; }
  .serviceSet dl {
    width: 100%;
    margin: 15px 0 20px;
    padding: 15px 0 0;
    border-top: 1px #bbb dotted; }
    .serviceSet dl dt {
      font-size: 1.6rem;
      line-height: 2em;
      width: 65%;
      float: left; }
      .serviceSet dl dt span {
        font-size: 1.2rem; }
      .serviceSet dl dt a {
        color: #000;
        display: block;
        padding: 0 0 0 1.0em;
        background: url(/img_site/mother/common/icon_arrow_gray.png) no-repeat left 0.5em; }
    .serviceSet dl dd {
      float: right;
      width: 30%; }
      .serviceSet dl dd img {
        border: 1px solid #eee; }
      .serviceSet dl dd a img:hover {
        opacity: 0.75;
        filter: alpha(opacity=75) !important;
        -ms-filter: "alpha( opacity=75)" !important; }

.serviceLink h2 {
  background-color: #fff !important;
  margin: 0 0 25px !important;
  padding: 0 !important;
  border: none; }
.serviceLink h3 {
  background-color: #999999 !important;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  line-height: 2em;
  margin: 0 0 0px !important;
  padding: 0 5px !important; }

.lpo {
  float: none !important;
  margin: 40px 0 80px; }

.lead {
  margin: 0 0 40px; }
  .lead p {
    font-size: 1.6rem;
    line-height: 2.0em; }

.serviceSet .lpo dl dt a {
  color: #000;
  display: block;
  padding: 0 0 0 3.5em;
  background: url(/img_site/mother/common/arrow_red.gif) no-repeat left 0.5em !important; }

dl.task {
  width: 100%;
  margin: 15px 0 20px;
  padding: 15px 0 0;
  border-bottom: 1px #bbb dotted; }
  dl.task dt {
    font-size: 1.6rem;
    line-height: 1.75em;
    width: 35%;
    float: left; }
  dl.task dd {
    width: 60%;
    float: right; }

#contents h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 1.5em;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 0.75em; }
  #contents h1 em {
    font-size: 1.5rem;
    margin: 0 0 0.75em;
    display: block;
    font-style: normal;
    font-weight: normal; }
#contents h2 {
  font-size: 1.8rem;
  font-weight: bold;
  background-color: #505050;
  color: #fff;
  padding: 0.5em;
  margin: 60px 0 1.0em;
  border: none; }
#contents h2.bor {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: transparent;
  color: #000;
  padding: 0.5em;
  margin: 20px 0 1.0em; }
#contents h2.lgray {
  font-size: 20px;
  font-size: 2.0rem;
  font-weight: normal;
  background-color: transparent;
  color: #000;
  padding: 0.25em 0 0.25em 0.5em;
  margin: 40px 0 20px;
  border: none;
  border-left: 3px solid #dddddd; }
#contents h3 {
  font-weight: bold;
  font-size: 1.6rem;
  margin: 0 0 0.75em;
  line-height: 1.75em; }
#contents .imp {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #C80C1A;
  color: #fff;
  padding: 0.5em;
  margin: 60px 0 1.0em;
  border: none; }
#contents p {
  font-size: 1.6rem;
  line-height: 2em; }

#nav3rd {
  /**float: right;**/
  margin: 0 0 3em; }
  #nav3rd ul {
    width: 100%; }
    #nav3rd ul li {
      float: left;
      text-align: center;
      font-size: 1.4rem;
      line-height: 1.75em;
      padding: 0.5em;
      margin: 0 0 0;
      background-color: #efefef; }
      #nav3rd ul li a span {
        padding: 0 0 0 0; }
      #nav3rd ul li a:hover {
        text-decoration: underline; }
    #nav3rd ul li.sTop {
      padding: 0.5em; }
    #nav3rd ul li.current {
      background-color: #cccccc; }
    #nav3rd ul li.toCon {
      margin: 20px 0 0;
      border-bottom: none;
      background-color: #fbf2f2;
      font-size: 1.6rem; }
      #nav3rd ul li.toCon a {
        background: url(/img_site/mother/common/arrow_red.png) left top no-repeat; }
    #nav3rd ul li:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    #nav3rd ul li:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
  #nav3rd ul.menu4 li {
    width: 25%; }
  #nav3rd ul.menu2 li {
    width: 50%; }
  #nav3rd ul.menu3 li {
    width: 33%; }
  #nav3rd ul.menu3 li:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 0; }
  #nav3rd ul.menu3 li:nth-child(3) {
    border-top-right-radius: 3px; }
  #nav3rd ul.menu3 li:nth-child(7) {
    border-bottom-left-radius: 3px; }
  #nav3rd ul.menu3 li:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px; }

#nav4th {
  float: none;
  width: 690px;
  margin: 100px auto 0; }
  #nav4th ul {
    border: none;
    margin: 50px 0 0;
    width: 100%; }
    #nav4th ul li {
      border: 1px solid #efefef;
      display: block;
      float: left;
      font-size: 12px;
      font-size: 1.2rem;
      line-height: 1.5em;
      padding: 0.5em 0.5em;
      margin: 0.5em; }
      #nav4th ul li a:hover {
        text-decoration: underline; }
    #nav4th ul li.current {
      background-color: #cccccc; }

#wrapInner,
#servicePage {
  width: 750px;
  margin: 0 auto 4em; }

#servicePage h1 {
  text-align: center;
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 2em;
  border: none; }
  #servicePage h1 em {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 2em;
    padding-bottom: 0.5em;
    display: inline;
    border-bottom: 1px solid #a9a9a9; }
#servicePage h2.ttl1 {
  font-size: 20px;
  font-size: 2.0rem;
  color: #000;
  font-weight: bold;
  padding-left: 1.5em;
  background-color: transparent;
  background: url("/img_site/common/h2_ttl1.png") no-repeat left center; }
#servicePage h2.ttl2 {
  font-size: 30px;
  font-size: 3.0rem;
  color: #999;
  font-weight: bold;
  background-color: transparent;
  border-bottom: solid 1px #e6e6e6;
  margin-bottom: 20px; }
#servicePage h3 {
  font-size: 20px;
  font-size: 2.0rem;
  font-weight: bold;
  margin-top: 0.5em; }
#servicePage .gray-box {
  background-color: #f7f7f7;
  padding: 20px; }
  #servicePage .gray-box .task_icon {
    background-color: #666666;
    color: #ffffff;
    font-size: 14px;
    font-size: 1.4rem;
    padding: 3px 8px;
    display: inline; }
#servicePage p {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 2.5em; }

.serviceEx {
  margin: 0 0 0;
  font-size: 1.6rem; }
  .serviceEx li {
    list-style-position: outside;
    list-style-type: disc;
    margin: 0 0 0.75em 1.5em; }

.about-b img.spacing {
  display: block;
  margin: 2em 0 1em; }

ol.serviceEx2 {
  margin: 0 0 40px;
  font-size: 1.6rem;
  list-style: decimal; }
  ol.serviceEx2 li {
    list-style-position: outside;
    margin: 0 0 0.75em 0em;
    line-height: 1.5em; }

.serviceCase {
  margin: 0 0 15px; }
  .serviceCase dl {
    width: 330px;
    float: left;
    font-size: 1.6rem; }
    .serviceCase dl dt img {
      width: 100%;
      border: 1px solid #eee; }
    .serviceCase dl dd {
      margin: 0.5em 0 0;
      line-height: 1.5em;
      background: url(/img_site/mother/common/icon_arrow_gray.png) no-repeat left 4px; }
      .serviceCase dl dd em {
        display: block;
        padding: 0 0 0 1.25em;
        font-size: 0.8em;
        display: block;
        font-style: normal; }
      .serviceCase dl dd a:link,
      .serviceCase dl dd a:active,
      .serviceCase dl dd a:visited {
        color: #000 !important;
        text-decoration: none !important; }
      .serviceCase dl dd a:hover,
      .serviceCase dl dd a:visited:hover {
        text-decoration: underline !important; }
      .serviceCase dl dd a img:hover {
        opacity: 0.75;
        filter: alpha(opacity=75) !important;
        -ms-filter: "alpha( opacity=75)" !important; }
  .serviceCase dl.rPos {
    float: right; }

#crew {
  padding-bottom: 8em; }
  #crew h1 {
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    font-size: 32px;
    font-size: 3.2rem;
    border: none;
    line-height: 1.75em;
    margin-bottom: 0em; }
  #crew dl {
    display: table-cell; }
    #crew dl dt {
      width: 475px;
      display: table-cell; }
    #crew dl dd {
      vertical-align: bottom;
      display: table-cell;
      font-size: 14px;
      font-size: 1.4rem; }
      #crew dl dd small {
        font-size: 11px;
        font-size: 1.1rem; }
  #crew p {
    margin-top: 2em;
    margin-bottom: 4em; }

#crew_list_wrap {
  background: linear-gradient(#ededed, #ffffff);
  padding: 2.5em 0; }
  #crew_list_wrap #crew_list {
    width: 1130px;
    margin: 0 auto; }
    #crew_list_wrap #crew_list ul {
      display: block; }
      #crew_list_wrap #crew_list ul li {
        width: 290px;
        float: left;
        display: block;
        margin-bottom: 2em; }
        #crew_list_wrap #crew_list ul li img {
          width: 260px; }
      #crew_list_wrap #crew_list ul li:nth-child(4n) {
        width: 260px; }

#staff .staffMenu-f ul.staffMenu {
  margin: 60px 0 60px; }
#staff ul.staffMenu {
  margin: 60px 0 60px;
  width: 330px;
  float: right;
  margin: 0 0 30px; }
  #staff ul.staffMenu li {
    width: 70px;
    height: 50px;
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden; }
    #staff ul.staffMenu li a {
      cursor: pointer; }
    #staff ul.staffMenu li a:hover img,
    #staff ul.staffMenu li a.current img {
      margin-top: -55px; }
  #staff ul.staffMenu li.end {
    width: 50px; }
#staff .sL {
  float: left; }
#staff .sR {
  float: right; }
#staff .pho {
  width: 180px; }
#staff .mes {
  width: 400px; }
  #staff .mes dl {
    font-size: 1.6rem;
    line-height: 2em;
    background: none;
    padding: 0 0 15px;
    margin: 0 0 15px;
    border-bottom: 1px dotted; }
    #staff .mes dl dt {
      font-weight: bold;
      padding: 0 0 0 50px;
      margin: 0 0 0px;
      line-height: 32px;
      float: none; }
    #staff .mes dl dd {
      float: none; }
    #staff .mes dl dt.q1 {
      background: url(/img_site/mother/recruit/q1.gif) no-repeat left top; }
    #staff .mes dl dt.q2 {
      background: url(/img_site/mother/recruit/q2.gif) no-repeat left top; }
    #staff .mes dl dt.q3 {
      background: url(/img_site/mother/recruit/q3.gif) no-repeat left top; }
    #staff .mes dl dt.q4 {
      background: url(/img_site/mother/recruit/q4.gif) no-repeat left top; }
    #staff .mes dl dt.q5 {
      background: url(/img_site/mother/recruit/q5.gif) no-repeat left top; }

.cBtn {
  margin: 60px 0 60px; }

.fb-like {
  margin-top: 25px; }

.about-policy dl dt {
  float: left;
  width: 330px; }
  .about-policy dl dt img {
    width: 295px; }
.about-policy dl dd p {
  font-size: 15px !important;
  font-size: 1.5rem !important; }

/* Responsive */
@media (max-width: 900px) {
  #page {
    padding-right: 16px;
    padding-left: 16px; }

  #contentsfull {
    margin: 0 auto; }

  #wrapInner {
    float: none;
    width: 100%;
    margin: 0 auto; }

  #servicePage {
    margin: 0 auto; }

  #staff {
    margin: 0 auto;
    width: 590px; }

  /**
  #nav3rd {
      float: none;
      width: 590px;
      margin: 0 auto;
      ul {
          border: none;
          margin: 50px 0 0;
          width: 100%;
      }
  }**/ }
@media (max-width: 480px) {
  #tcd {
    /*-----client-----*/
    /*-----LOCATION-----*/ }
    #tcd .staff_ttl {
      width: auto;
      float: none; }
    #tcd a.link_green,
    #tcd a.link_staff {
      width: 100%;
      float: none;
      padding: 0.5em 0; }
    #tcd .about h1.bnone {
      margin-top: 2em !important;
      line-height: 1.75em !important; }
    #tcd .profile dl dt {
      width: 100%;
      float: none;
      clear: both;
      font-weight: bold;
      padding: 0.5em 0 0;
      margin: 0 0 0px;
      border: none; }
    #tcd .profile dl dd {
      width: 100%;
      float: none;
      padding: 0.5em 0 0;
      margin: 0 0 20px;
      border-top: 1px solid #ddd; }
      #tcd .profile dl dd ul li {
        width: 100%; }
    #tcd .profile dl dl.place dt {
      width: 100%;
      float: none; }
    #tcd .profile dl dl.place dd {
      width: 100%;
      float: none; }
      #tcd .profile dl dl.place dd img {
        width: 100%; }
    #tcd .post-155 h1 {
      margin-top: 2.5em !important; }
    #tcd .profile-en {
      color: #000; }
      #tcd .profile-en dl dt {
        width: 100%;
        float: none;
        clear: both;
        font-weight: bold;
        padding: 0.5em 0 0;
        margin: 0 0 0px;
        border: none; }
      #tcd .profile-en dl dd {
        width: 100%;
        float: none;
        padding: 0.5em 0 0;
        margin: 0 0 20px;
        border-top: 1px solid #ddd; }
        #tcd .profile-en dl dd ul li {
          width: 100%; }
      #tcd .profile-en dl dl.history dt {
        width: 100%;
        float: none; }
      #tcd .profile-en dl dl.history dd {
        width: 100%;
        float: none; }
      #tcd .profile-en dl dl.place dt {
        width: 100%;
        float: none; }
      #tcd .profile-en dl dl.place dd {
        width: 100%;
        float: none; }
    #tcd .exp {
      position: inherit; }
      #tcd .exp .expList {
        padding: 0 0 15px;
        border-top: none; }
        #tcd .exp .expList div {
          width: 100%;
          float: none; }
        #tcd .exp .expList div:first-child {
          width: 100%; }
        #tcd .exp .expList div:nth-child(3n) {
          width: 100%;
          float: none; }
        #tcd .exp .expList div:first-child ul,
        #tcd .exp .expList div:nth-child(2n) ul {
          padding-bottom: 15px !important; }
      #tcd .exp .btmTxt {
        position: inherit;
        bottom: 0;
        right: 0; }
    #tcd .client .clientList ul {
      width: 100%;
      float: none; }
    #tcd .client .clientList ul.listR {
      float: none; }
    #tcd .client .clientListL {
      width: 100%;
      float: none; }
    #tcd .client .clientListR {
      width: 100%;
      float: none; }
    #tcd .location dl.locationSet dt {
      float: none;
      width: 100%; }
      #tcd .location dl.locationSet dt img {
        width: 100%; }
    #tcd .location dl.locationSet dd {
      float: none;
      width: 100%; }
      #tcd .location dl.locationSet dd img {
        float: none; }
    #tcd .about-policy dl dt {
      float: none;
      width: 100%;
      padding-bottom: 2.5em; }
      #tcd .about-policy dl dt img {
        width: 100%; }
    #tcd .about-policy dl dd p {
      font-size: 16px !important;
      font-size: 1.6rem !important; }
    #tcd .about-b img.spacing {
      padding-bottom: 1.5em; }
    #tcd .serviceLink h2 {
      margin: 2em 0 2em !important; }
    #tcd .serviceLink h3 {
      font-size: 16px;
      font-size: 1.6rem;
      margin: 0 0 0px !important;
      padding: 0 5px !important; }

  #wrap-wide2 {
    width: 100%;
    margin: 0 auto; }

  #contentsfull {
    width: 100%;
    padding: 0 0 0px; }

  #wrapInner {
    float: none;
    width: 100%;
    margin: 0 auto; }

  #servicePage {
    width: 100%;
    margin: 0 auto; }
    #servicePage h1 {
      margin: 0 0 0; }
    #servicePage img {
      width: 100%;
      max-width: 100%; }

  dl.task {
    width: 100%;
    margin: 15px 0 20px;
    padding: 15px 0 0;
    border-bottom: none;
    border-top: 1px #bbb dotted; }
    dl.task dt {
      width: 100%;
      float: none; }
    dl.task dd {
      float: none;
      width: 100%; }

  .serviceSet {
    width: 100%; }
    .serviceSet h1 {
      width: 150px; }
    .serviceSet dl {
      width: 100%; }
      .serviceSet dl dt {
        width: 100%;
        line-height: 1.25em; }
      .serviceSet dl dd {
        display: none; }

  .serviceCase dl {
    width: 100%;
    float: none; }
    .serviceCase dl dt img {
      width: 100%;
      max-width: 100%; }
    .serviceCase dl dd {
      background: url(/img_site/mother/common/icon_arrow_gray.png) no-repeat left 4px; }
  .serviceCase dl.rPos {
    float: none; }

  .about,
  .recruit {
    width: 100%; }

  .about-policy {
    width: 100% !important; }

  .recruit .recruit-lead {
    position: inherit !important; }
    .recruit .recruit-lead a.anch {
      display: block;
      position: inherit !important;
      bottom: auto;
      right: auto;
      margin-bottom: 1em; }
    .recruit .recruit-lead p {
      position: inherit !important;
      padding-bottom: 0em !important; }
    .recruit .recruit-lead a.entry {
      display: block;
      position: inherit !important;
      bottom: auto;
      right: auto;
      padding-bottom: 2em; }
    .recruit .recruit-lead a.entry:link,
    .recruit .recruit-lead a.entry:visited {
      display: block;
      background: url(/img_site/common/arrow_blue.png) no-repeat left 0.5em;
      padding-left: 1.25em;
      color: #2b599e; }
    .recruit .recruit-lead a.entry:hover {
      text-decoration: underline; }

  #crew {
    padding-bottom: 4em; }
    #crew h1 {
      font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
      font-size: 24px;
      font-size: 2.4rem;
      border: none;
      line-height: 1.75em;
      margin-bottom: 1em; }
    #crew dl {
      display: block;
      margin-bottom: 1em; }
      #crew dl dt {
        width: 100%;
        display: block;
        margin-bottom: 0.5em; }
        #crew dl dt img {
          width: 100%; }
      #crew dl dd {
        vertical-align: inherit;
        width: 100%;
        display: block; }
    #crew p {
      margin-top: 2em;
      margin-bottom: 4em; }
    #crew .dNon {
      display: none; }

  #crew_list_wrap {
    background: none;
    width: 100%; }
    #crew_list_wrap #crew_list {
      padding: 0 5%;
      width: auto; }
      #crew_list_wrap #crew_list ul {
        display: block; }
        #crew_list_wrap #crew_list ul li {
          width: 45%; }
          #crew_list_wrap #crew_list ul li img {
            width: 100%; }
        #crew_list_wrap #crew_list ul li:nth-child(2n) {
          float: right; }
        #crew_list_wrap #crew_list ul li:nth-child(4n) {
          width: 45%; }

  #staff {
    width: 100%; }
    #staff .staffMenu-f ul.staffMenu {
      margin: 60px 0 60px; }
    #staff ul.staffMenu {
      margin: 60px 0 60px;
      width: 100%;
      float: right;
      margin: 0 0 30px; }
      #staff ul.staffMenu li {
        width: 20%;
        height: 50px;
        float: left;
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden; }
        #staff ul.staffMenu li a {
          cursor: pointer; }
        #staff ul.staffMenu li a:hover img,
        #staff ul.staffMenu li a.current img {
          margin-top: -55px; }
      #staff ul.staffMenu li.end {
        width: 50px; }
    #staff .sL {
      float: none; }
    #staff .sR {
      float: none; }
    #staff .pho {
      display: none; }
    #staff .mes {
      width: 100%; }

  .cBtn {
    margin: 60px 0 60px; }

  .fb-like {
    margin-top: 25px; }

  #nav3rd {
    float: none;
    width: 100%;
    margin: 2em auto 3em; }
    #nav3rd ul {
      border: none;
      margin: 0px 0 0;
      width: 100%; }
      #nav3rd ul li {
        float: none;
        text-align: left;
        width: 100%; }
      #nav3rd ul li:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 3px; }
      #nav3rd ul li:last-child {
        border-bottom-left-radius: 3px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 3px; }
    #nav3rd ul.menu2 li {
      width: 100%; }
    #nav3rd ul.menu4 li {
      width: 100%; }
    #nav3rd ul.menu3 li {
      width: 100%; }
    #nav3rd ul.menu3 li:first-child {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 0; }
    #nav3rd ul.menu3 li:nth-child(3) {
      border-top-right-radius: 0px; }
    #nav3rd ul.menu3 li:nth-child(7) {
      border-bottom-left-radius: 0px; }
    #nav3rd ul.menu3 li:last-child {
      border-bottom-left-radius: 3px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 3px; }

  #nav4th {
    float: none;
    width: 100%;
    margin: 0 auto; }
    #nav4th ul {
      border: none;
      margin: 5em 0 0;
      width: 100%; }
      #nav4th ul li {
        width: 100%;
        border: none;
        border-bottom: 1px dotted #efefef;
        display: block;
        float: none;
        font-size: 14px;
        font-size: 1.4rem;
        line-height: 1.5em;
        padding: 0.75em;
        margin: 0; } }
/**
@media screen and (max-width: 980px) {
    #contentsfull{
        width:645px;
        overflow: hidden;
        margin:0 auto;
        padding:60px 0;
    }
    .serviceSet{
        width:670px;
    }
    #wrap-wide2{
        width:100%;
        margin:0 auto;
    }
    #wrapInner{
        float: none;
        margin:0 auto;
    }
    #nav3rd{
        float:none;
        width:590px;
        margin:0 auto;
    }
    #nav3rd ul {
        border: none;
        margin:50px 0 0;
        width:100%;
    }
    #nav3rd ul li{
        border: 1px solid #efefef;
        display: block;
        float:left;
        font-size: 1.2em;
        line-height: 1.5em;
        padding:0.5em 0.5em;
        margin:0.5em;
    }
}
**/
#wrap-wide2 {
  *zoom: 1; }

#wrap-wide2:after {
  content: "";
  display: block;
  clear: both; }

#crew dl {
  *zoom: 1; }

#crew dl:after {
  content: "";
  display: block;
  clear: both; }

#crew_list ul {
  *zoom: 1; }

#crew_list ul:after {
  content: "";
  display: block;
  clear: both; }

.about-policy dl {
  *zoom: 1; }

.about-policy dl:after {
  content: "";
  display: block;
  clear: both; }

.exp div {
  *zoom: 1; }

.exp div:after {
  content: "";
  display: block;
  clear: both; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

/*# sourceMappingURL=page.css.map */
