@charset "UTF-8";
#page {
  padding: 25px 0 0; }

h1 {
  border: none !important; }

#wrap-wide2 {
  width: 910px;
  margin: 0 auto; }

#wrap-wide {
  padding: 0 0 0 0; }

#wrapInner {
  /**float: left;**/ }

#tcd .navigation {
  margin: 6em 0 4em; }

.pc {
  display: block; }

.sp {
  display: none; }

.blog h1.entry-title {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.5em;
  margin: 0 0 1.5em; }
.blog .entry-content ul.disc li {
  list-style: disc;
  list-style-position: outside;
  margin-left: 1em; }
.blog dl {
  margin-bottom: 4em; }
  .blog dl dt h1.entry-title {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.5em;
    margin: 0 0 1em;
    padding-top: 1em;
    border-top: 1px dotted #333 !important; }
  .blog dl dd .thum {
    float: right;
    width: 330px; }
    .blog dl dd .thum a img {
      max-width: 100%; }
  .blog dl dd .entry-content {
    float: left;
    width: 330px;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.85em; }
    .blog dl dd .entry-content a {
      display: block;
      margin-top: 1em; }
      .blog dl dd .entry-content a:hover {
        text-decoration: none; }
    .blog dl dd .entry-content a:link,
    .blog dl dd .entry-content a:visited {
      text-decoration: underline; }
    .blog dl dd .entry-content a:hover {
      text-decoration: none; }
.blog .entry-content a:link,
.blog .entry-content a:visited {
  text-decoration: underline; }
.blog .entry-content a:hover {
  text-decoration: none; }
.blog .entry-content p img {
  display: block;
  margin: 0 auto; }
.blog #recent-posts {
  margin-top: 3em; }
  .blog #recent-posts h3.widget-title {
    padding: 0.5em;
    background-color: #efefef; }
  .blog #recent-posts ul li {
    font-size: 14px;
    font-size: 1.4rem;
    list-style: disc;
    list-style-position: outside;
    margin-left: 1.5em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    border-top: 1px solid #efefef; }
    .blog #recent-posts ul li a:link,
    .blog #recent-posts ul li a:visited {
      text-decoration: none; }
    .blog #recent-posts ul li a:hover {
      text-decoration: underline; }
.blog .entry-content p {
  color: #111;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2em;
  margin: 0 0 20px;
  margin: 0 0 1.7rem; }
.blog .colum dl {
  border-bottom: 1px solid #eee;
  margin: 0;
  padding: 15px 0; }
.blog .colum dt.thumbnail {
  width: 20%;
  float: left; }
.blog .colum dd {
  width: 75%;
  float: right; }
.blog .blank {
  padding-left: 15px;
  padding-right: 8px;
  background: url("/img_site/branding/icon_blank.png") no-repeat left center; }

#contents {
  /**h1 {
      font-size: 2rem;
      font-weight: bold;
      margin: 0 0 1em;
      em {
          font-size: 1.5rem;
          margin: 0 0 0.75em;
          display: block;
          font-style: normal;
          font-weight: normal;
      }
  }**/ }
  #contents h2 {
    font-size: 1.8rem;
    font-weight: bold;
    background-color: #505050;
    color: #fff;
    padding: 0.5em;
    margin: 40px 0 1.0em;
    border: none; }
  #contents h2.bor {
    font-size: 1.6rem;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    color: #000;
    padding: 0.5em;
    margin: 20px 0 1.0em; }
  #contents h3 {
    font-weight: bold;
    font-size: 1.6rem;
    margin: 0 0 0.75em;
    line-height: 1.75em; }
  #contents h3.tit {
    font-size: 22px;
    font-size: 2.2rem;
    padding-top: 10px; }
  #contents .imp {
    font-size: 1.6rem;
    font-weight: bold;
    background-color: #C80C1A;
    color: #fff;
    padding: 0.5em;
    margin: 40px 0 1.0em;
    border: none; }
  #contents p {
    font-size: 16px;
    font-size: 1.6rem; }

#nav3rd_wide {
  padding: 0 17%;
  margin: 0 0 3em; }
  #nav3rd_wide ul {
    width: 100%; }
    #nav3rd_wide ul li {
      float: left;
      text-align: center;
      font-size: 1.4rem;
      line-height: 2em;
      padding: 0.5em;
      margin: 0 0 0;
      background-color: #efefef; }
      #nav3rd_wide ul li a span {
        padding: 0 0 0 0; }
      #nav3rd_wide ul li a:hover {
        text-decoration: underline; }
    #nav3rd_wide ul li.sTop {
      padding: 0.5em; }
    #nav3rd_wide ul li.current {
      background-color: #cccccc; }
    #nav3rd_wide ul li.toCon {
      margin: 20px 0 0;
      border-bottom: none;
      background-color: #fbf2f2;
      font-size: 1.4rem; }
      #nav3rd_wide ul li.toCon a {
        background: url(/img_site/mother/common/arrow_red.png) left top no-repeat; }
    #nav3rd_wide ul li:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    #nav3rd_wide ul li:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
  #nav3rd_wide ul.menu5 li {
    width: 20%; }

#nav3rd {
  /**float: right;**/
  margin: 0 0 3em; }
  #nav3rd ul {
    width: 100%; }
    #nav3rd ul li {
      float: left;
      text-align: center;
      font-size: 1.4rem;
      line-height: 2em;
      padding: 0.5em;
      margin: 0 0 0;
      background-color: #efefef; }
      #nav3rd ul li a span {
        padding: 0 0 0 0; }
      #nav3rd ul li a:hover {
        text-decoration: underline; }
    #nav3rd ul li.sTop {
      padding: 0.5em; }
    #nav3rd ul li.current {
      background-color: #cccccc; }
    #nav3rd ul li.toCon {
      margin: 20px 0 0;
      border-bottom: none;
      background-color: #fbf2f2;
      font-size: 1.4rem; }
      #nav3rd ul li.toCon a {
        background: url(/img_site/mother/common/arrow_red.png) left top no-repeat; }
    #nav3rd ul li:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    #nav3rd ul li:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
  #nav3rd ul.menu5 li {
    width: 20%; }
  #nav3rd ul.menu4 li {
    width: 25%; }
  #nav3rd ul.menu2 li {
    width: 50%; }
  #nav3rd ul.menu3 li {
    width: 33%; }
  #nav3rd ul.menu3 li:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 0; }
  #nav3rd ul.menu3 li:nth-child(3) {
    border-top-right-radius: 3px; }
  #nav3rd ul.menu3 li:nth-child(7) {
    border-bottom-left-radius: 3px; }
  #nav3rd ul.menu3 li:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px; }

#crew {
  padding-bottom: 8em; }
  #crew h1 {
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    font-size: 32px;
    font-size: 3.2rem;
    border: none;
    line-height: 1.75em;
    margin-bottom: 1em; }
  #crew dl {
    display: table-cell; }
    #crew dl dt {
      width: 475px;
      display: table-cell; }
    #crew dl dd {
      vertical-align: bottom;
      display: table-cell;
      font-size: 14px;
      font-size: 1.4rem; }
      #crew dl dd small {
        font-size: 11px;
        font-size: 1.1rem; }
  #crew p {
    margin-top: 2em;
    margin-bottom: 4em;
    line-height: 2em; }

#crew_list_wrap {
  background: linear-gradient(#ededed, #ffffff);
  padding: 2.5em 0; }
  #crew_list_wrap #crew_list {
    width: 1130px;
    margin: 0 auto; }
    #crew_list_wrap #crew_list ul {
      display: block; }
      #crew_list_wrap #crew_list ul li {
        width: 290px;
        float: left;
        display: block;
        margin-bottom: 2em; }
        #crew_list_wrap #crew_list ul li img {
          width: 260px; }
      #crew_list_wrap #crew_list ul li:nth-child(4n) {
        width: 260px; }
      #crew_list_wrap #crew_list ul li.current img {
        opacity: 0.5; }

#crew_list_top {
  padding: 0 17%;
  margin: 0 auto; }
  #crew_list_top ul {
    width: 100%;
    display: block; }
    #crew_list_top ul li {
      width: 35%;
      float: left;
      display: block;
      margin-bottom: 2em; }
      #crew_list_top ul li img {
        width: 85%; }
    #crew_list_top ul li:nth-child(3n) {
      width: 30%; }
      #crew_list_top ul li:nth-child(3n) img {
        width: 100%; }

#wrapInner {
  width: 690px;
  margin: 0 auto; }

.cBtn {
  margin: 60px 0 60px; }

.fb-like {
  margin-top: 25px; }

/* Responsive */
@media (max-width: 480px) {
  .pc {
    display: none; }

  .sp {
    display: block; }

  .blog h1.entry-title {
    margin-top: 1em !important; }
  .blog .colum dt.thumbnail {
    width: 20%;
    float: left; }
  .blog .colum dd {
    min-width: auto;
    width: 75%;
    float: right; }
  .blog dl dd .thum {
    float: none;
    width: 100%; }
    .blog dl dd .thum a img {
      max-width: 100%; }
  .blog dl dd .entry-content {
    float: none;
    width: 100%;
    padding-top: 0.5em; }

  .youtube {
    position: relative;
    width: 100%;
    padding-top: 56.25%; }
    .youtube iframe {
      position: absolute;
      top: 0;
      right: 0;
      width: 100% !important;
      height: 100% !important; }

  #wrap-wide2 {
    width: 100%;
    margin: 0 auto; }

  #contentsfull {
    width: 100%; }

  #wrapInner {
    float: none;
    width: 100%;
    margin: 0 auto; }

  .cBtn {
    margin: 60px 0 60px; }

  .fb-like {
    margin-top: 25px; }

  #nav3rd_wide {
    float: none;
    width: 100%;
    margin: 2em auto 3em;
    padding: 0 0; }
    #nav3rd_wide ul {
      border: none;
      margin: 0px 0 0;
      width: 100%; }
      #nav3rd_wide ul li {
        float: none;
        text-align: left;
        width: 100%; }
      #nav3rd_wide ul li:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 3px; }
      #nav3rd_wide ul li:last-child {
        border-bottom-left-radius: 3px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 3px; }
    #nav3rd_wide ul.menu5 li {
      width: 100%; }

  #nav3rd {
    float: none;
    width: 100%;
    margin: 2em auto 3em; }
    #nav3rd ul {
      border: none;
      margin: 0px 0 0;
      width: 100%; }
      #nav3rd ul li {
        float: none;
        text-align: left;
        width: 100%; }
      #nav3rd ul li:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 3px; }
      #nav3rd ul li:last-child {
        border-bottom-left-radius: 3px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 3px; }
    #nav3rd ul.menu4 li {
      width: 100%; }
    #nav3rd ul.menu3 li {
      width: 100%; }
    #nav3rd ul.menu3 li:first-child {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 0; }
    #nav3rd ul.menu3 li:nth-child(3) {
      border-top-right-radius: 0px; }
    #nav3rd ul.menu3 li:nth-child(7) {
      border-bottom-left-radius: 0px; }
    #nav3rd ul.menu3 li:last-child {
      border-bottom-left-radius: 3px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 3px; }

  #crew {
    padding-bottom: 4em; }
    #crew h1 {
      font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
      font-size: 24px;
      font-size: 2.4rem;
      border: none;
      line-height: 1.75em;
      margin-bottom: 1em; }
    #crew dl {
      display: block;
      margin-bottom: 1em; }
      #crew dl dt {
        width: 100%;
        display: block;
        margin-bottom: 0.5em; }
        #crew dl dt img {
          width: 100%; }
      #crew dl dd {
        vertical-align: inherit;
        width: 100%;
        display: block; }
    #crew p {
      margin-top: 2em;
      margin-bottom: 4em; }
    #crew .dNon {
      display: none; }

  #crew_list_wrap {
    background: none;
    width: 100%; }
    #crew_list_wrap #crew_list {
      padding: 0 0%;
      width: auto; }
      #crew_list_wrap #crew_list ul {
        display: block; }
        #crew_list_wrap #crew_list ul li {
          width: 45%; }
          #crew_list_wrap #crew_list ul li small {
            font-size: 12px;
            font-size: 1.2rem; }
          #crew_list_wrap #crew_list ul li img {
            width: 100%; }
        #crew_list_wrap #crew_list ul li:nth-child(2n) {
          float: right; }
        #crew_list_wrap #crew_list ul li:nth-child(4n) {
          width: 45%; }

  #crew_list_top {
    padding: 0 0%; }
    #crew_list_top ul {
      width: 100%;
      display: block; }
      #crew_list_top ul li {
        width: 100%;
        float: none; }
        #crew_list_top ul li img {
          width: 100%; }
      #crew_list_top ul li:nth-child(3n) {
        width: 100%; } }
.bg_gy #nav3rd_wide ul li {
  background-color: #f8f8f8; }
.bg_gy #nav3rd_wide ul li.current {
  background-color: #cccccc; }

.detail__main_cont {
  margin-bottom: 4em; }
  .detail__main_cont h2 {
    font-size: 2.4rem;
    line-height: 2;
    padding: 0 1em;
    margin-top: 2.5em;
    margin-bottom: 0.5em; }
  .detail__main_cont h3 {
    font-size: 2.2rem;
    line-height: 2;
    padding: 0 1em; }
  .detail__main_cont p {
    font-size: 1.85rem;
    line-height: 1.9em;
    margin: 0 0 1em;
    padding: 0 1.5em; }
    .detail__main_cont p a:link, .detail__main_cont p a:visited {
      text-decoration: underline; }
    .detail__main_cont p a:hover {
      text-decoration: none; }
  .detail__main_cont a {
    cursor: pointer; }
  .detail__main_cont p.writer {
    padding: 0 0;
    margin-bottom: 1.5em; }
  .detail__main_cont div {
    padding-bottom: 2.8em; }
    .detail__main_cont div p {
      padding-top: 0.5em; }
    .detail__main_cont div img.aligncenter {
      display: block;
      margin: 0 auto; }
  .detail__main_cont h2 + div {
    padding-bottom: 1.5em; }
  .detail__main_cont .cv_btn {
    border: 1px solid #4dbc92;
    margin: 4em 0 4em;
    padding: 1.5em 0.5em;
    width: 100%;
    line-height: 2em;
    color: #37ab86;
    text-align: center;
    font-size: 1.8rem;
    font-size: 18px;
    background-color: #edf7f3; }
    .detail__main_cont .cv_btn img {
      padding-bottom: 1em; }
    .detail__main_cont .cv_btn a:link, .detail__main_cont .cv_btn a:visited {
      font-weight: bold;
      color: #37ab86;
      text-decoration: underline; }
    .detail__main_cont .cv_btn a:hover {
      text-decoration: none; }
  .detail__main_cont .colum_wrap {
    border-top: 2px solid #c5c5c5;
    margin-top: 5em;
    padding: 1em 0 2em; }
    .detail__main_cont .colum_wrap p.sub {
      font-weight: bold;
      color: #999999;
      font-size: 1.4rem; }
    .detail__main_cont .colum_wrap .colum {
      padding-bottom: 0em; }
      .detail__main_cont .colum_wrap .colum dl {
        border-bottom: 1px solid #eee;
        margin: 0;
        padding: 15px 0; }
      .detail__main_cont .colum_wrap .colum dt.thumbnail {
        width: 20%;
        float: right;
        text-align: right; }
      .detail__main_cont .colum_wrap .colum dd {
        width: 75%;
        float: left;
        line-height: 1.75em; }
        .detail__main_cont .colum_wrap .colum dd a {
          padding-left: 0em; }
        .detail__main_cont .colum_wrap .colum dd a:link,
        .detail__main_cont .colum_wrap .colum dd a:visited {
          text-decoration: underline; }
        .detail__main_cont .colum_wrap .colum dd a:hover {
          text-decoration: none; }
        .detail__main_cont .colum_wrap .colum dd a.blank:link,
        .detail__main_cont .colum_wrap .colum dd a.blank:visited {
          text-decoration: underline; }
  .detail__main_cont .prof {
    border-top: 5px solid #c5c5c5;
    margin-top: 5em;
    padding: 1em 0 2em; }
    .detail__main_cont .prof p.sub {
      font-weight: bold;
      color: #999999;
      font-size: 1.4rem;
      padding: 0 0em 0; }
    .detail__main_cont .prof dl {
      margin-top: 1em;
      margin-bottom: 1em;
      padding: 0 2em; }
      .detail__main_cont .prof dl dt {
        font-size: 1.8rem;
        padding: 0;
        margin: 0; }
      .detail__main_cont .prof dl dd {
        font-size: 1.4rem;
        padding: 0 0em 0;
        margin: 0; }
    .detail__main_cont .prof p {
      font-size: 1.4rem;
      padding: 0 2em 0; }

.detail__main_cont p + .detail__main_cont p {
  padding-top: 2rem; }

@media only screen and (max-width: 640px) {
  .detail__main_catdate {
    padding: 0 0; }

  h1.detail__main_ttl {
    padding: 0 0em; }

  .detail__main_cont {
    padding: 0 0; }
    .detail__main_cont h2, .detail__main_cont h3 {
      padding: 0 0em; }
    .detail__main_cont h2 {
      font-size: 2.2rem; }
    .detail__main_cont h3 {
      font-size: 1.8rem; }
    .detail__main_cont p {
      font-size: 1.4rem;
      padding: 0 0em; }
    .detail__main_cont .colum_wrap {
      border-top: 1px solid #c5c5c5;
      margin-top: 2em;
      padding: 0.5em 0 1em; }
      .detail__main_cont .colum_wrap .colum {
        padding-bottom: 0em; }
        .detail__main_cont .colum_wrap .colum dl {
          border-bottom: 1px solid #eee;
          margin: 0;
          padding: 15px 0; }
        .detail__main_cont .colum_wrap .colum dt.thumbnail {
          width: 20%;
          float: right;
          text-align: right; }
        .detail__main_cont .colum_wrap .colum dd {
          width: 75%;
          float: left;
          font-size: 14px;
          font-size: 1.4rem;
          line-height: 1.5em; }
          .detail__main_cont .colum_wrap .colum dd strong.pc {
            display: none; }
    .detail__main_cont .prof dl {
      padding: 0 0em; }
    .detail__main_cont .prof p {
      padding: 0 0em 0; } }
#wrap-wide2 {
  *zoom: 1; }

#wrap-wide2:after {
  content: "";
  display: block;
  clear: both; }

#crew dl {
  *zoom: 1; }

#crew dl:after {
  content: "";
  display: block;
  clear: both; }

#crew_list ul {
  *zoom: 1; }

#crew_list ul:after {
  content: "";
  display: block;
  clear: both; }

#crew_list_top ul {
  *zoom: 1; }

#crew_list_top ul:after {
  content: "";
  display: block;
  clear: both; }

.blog dl {
  *zoom: 1; }

.blog dl:after {
  content: "";
  display: block;
  clear: both; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

/*# sourceMappingURL=page.css.map */
